// Fonts
@import "fonts";

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

a {
  color: #2F80ED;
}

button {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-main{
  background: $blue-500;
  color: $white;
  padding: 16px, 28px, 16px, 28px;
  border-radius: 4px;
  gap: 12px;
  font-family: 'Inter';
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}
.btn-main:hover{
  filter: brightness(0.8)!important;
}
.btn-main-yellow-light{
  background: $yellow-light;
  color: $white;
  padding: 16px, 28px, 16px, 28px;
  border-radius: 4px;
  gap: 12px;
  font-family: 'Inter';
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}
.btn-main-yellow-light:hover{
  filter: brightness(0.8) !important;
}
.btn-main-full{
  display: flex;
  // width: 400px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 2px solid #FFF;
  background: #EDA213;
  color: $white;

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.btn-main-full:hover{
  filter: brightness(0.8) !important;
}
.bg-blue-500{
  background: $blue-500;
}
.bg-gray-100{
  background: $gray-100;
}
.text-blue-500{
  color: $blue-500;
}
.text-yellow-light-minimum{
  color: $yellow-light-minimum;
}
.text-yellow-dark{
  color: $yellow-dark;
}
.h-custom{
  height: calc(100vh - 205px);
}