<section class="bg-white">
  <div class="row">
    <div class="col-6 d-none d-md-flex bg-blue-500 h-custom">
      <div class="container p-5">
        <h3 class="text-white pt-3">
          Venha ser parceiro do
          <span class="text-yellow-light-minimum">Cartão do Empresário!</span>
        </h3>
        <p class="text-white py-3">
          A empresa que for parceira do Cartão do Empresário fará parte de um
          grupo seleto de empresas e poderá usufruir de diversos benefícios!
        </p>
        <div class="row">
          <div class="col-1">
            <img
              src="../../../../assets/images/check-yellow.svg"
              class="d-none d-md-block"
              alt="Check amarelo" />
          </div>
          <div class="col-11">
            <p class="text-white">
              Ampliar as oportunidades de negócios de compra e venda através de
              rodadas de negócios;
            </p>
          </div>
          <div class="col-1">
            <img
              src="../../../../assets/images/check-yellow.svg"
              class="d-none d-md-block"
              alt="Check amarelo" />
          </div>
          <div class="col-11">
            <p class="text-white">
              Ter sua marca divulgada em diversas mídias diferentes;
            </p>
          </div>
          <div class="col-1">
            <img
              src="../../../../assets/images/check-yellow.svg"
              class="d-none d-md-block"
              alt="Check amarelo" />
          </div>
          <div class="col-11">
            <p class="text-white">
              Comercializar seus produtos e serviços para nossos associados.
            </p>
          </div>
        </div>
        <p class="text-white py-3">
          Para ser nosso parceiro, basta preencher o formulário ao lado. Assim
          que recebermos suas informações, entraremos em contato o mais breve
          possível.
        </p>
        <p class="text-white py-3">
          Venha fortalecer o comércio de Pernambuco!
        </p>
      </div>
    </div>
    <div class="col-md-6 col-12 d-flex align-items-start">
      <div class="container">
        <section class="form">
          <form class="p-3">
            <section class="row p-5">
              <section class="col-md-6 col-12 mb-3">
                <label for="cnpj" class="form-label mb-1">CPNJ *</label>
                <input
                  type="text"
                  class="form-control form-control-lg form-control-lg"
                  id="cnpj"
                  formControlName="cnpj" />
              </section>
              <section class="col-md-6 col-12 mb-3">
                <label for="telefone" class="form-label mb-1">
                  Telefone *</label
                >
                <input
                  type="telefone"
                  class="form-control form-control-lg"
                  id="telefone"
                  formControlName="telefone" />
              </section>
              <section class="col-md-6 col-12 mb-3">
                <label for="email" class="form-label mb-1">E-mail</label>
                <input
                  type="email"
                  class="form-control form-control-lg"
                  id="email"
                  formControlName="email" />
              </section>
              <section class="col-md-6 col-12 mb-3">
                <label for="nome_contato" class="form-label mb-1"
                  >Nome do contato *</label
                >
                <input
                  type="text"
                  class="form-control form-control-lg form-control-lg"
                  id="nome_contato"
                  formControlName="nome_contato" />
              </section>
              <section class="col-12 mb-3">
                <label for="cargo" class="form-label mb-1"
                  >Cargo/Função *</label
                >
                <input
                  type="text"
                  class="form-control form-control-lg form-control-lg"
                  id="cargo"
                  formControlName="cargo" />
              </section>

              <section class="d-flex justify-content-end">
                <button type="button" class="btn-main fs-6 py-2 px-3">
                  Enviar
                </button>
              </section>
            </section>
          </form>
        </section>
      </div>
    </div>
  </div>
</section>
