.banner{
    background: url('../../../../assets/images/banner-home-main.png') no-repeat;
    min-height: 375px;
    background-size: cover;
}
.banner-womans-dancing{
    background: url('../../../../assets/images/banner_womans_dancing.png') no-repeat;
    min-height: 697px;
    background-size: cover;
}
.ml-negative{
    margin-left: calc(690px - (100vw + 70px) / 2);
}
.mr-negative{
    margin-right: calc(690px - (100vw + 70px) / 2);
}
.mt-negative-150{
    margin-top: -150px;
}
.overflow-hidden{
    overflow:hidden;
}

@media(max-width: 767.99px){
    .ml-negative{
        margin-left: 0;
    }
    .mr-negative{
        margin-right: 0;
    }
    .mt-negative-150{
        margin-top: 0;
    }
}