<footer [style.background-image]="backgroundImageUrl" class="p-2">
  <section class="container footer-box">
    <div class="row">
      <div class="col-6 col-md-6 col-lg-6 col-xxl-6 logo-box">
        <a href="http://fecomercio-pe.com.br/site" target="_blank">
          <img
            src="./assets/images/fecomercio.png"
            alt="Instituto Fecomércio" />
        </a>

        <a href="https://www.sescpe.org.br" target="_blank">
          <img src="./assets/images/sesc.png" alt="Sesc" />
        </a>

        <a href="http://www.pe.senac.br" target="_blank">
          <img src="./assets/images/senac.png" alt="Senac" />
        </a>
      </div>

      <div class="col-6 col-md-6 col-lg-6 col-xxl-6 social-midia-box">
        <a href="https://pt-br.facebook.com/fecomerciope" target="_blank">
          <img src="./assets/images/icon-facebook.png" alt="Facebook" />
        </a>

        <a href="https://twitter.com/fecomerciope" target="_blank">
          <img src="./assets/images/icon-twitter.png" alt="Twitter" />
        </a>

        <a href="https://www.instagram.com/fecomerciope" target="_blank">
          <img src="./assets/images/icon-instagram.png" alt="Instagram" />
        </a>

        <a href="https://br.linkedin.com/company/fecomerciope" target="_blank">
          <img src="./assets/images/icon-linkedin.png" alt="Linkedim" />
        </a>

        <a
          href="https://www.youtube.com/channel/UCNGYKjQslKZl5nHPCaOZyKg"
          target="_blank">
          <img src="./assets/images/icon-youtube.png" alt="Youtube" />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col copyright">
        Copyright &copy; 2021 Fecomércio PE | Todos os direitos reservados.
      </div>
    </div>
  </section>
</footer>
