<app-header
  backgroundImageUrl="url(./assets/images/background-header-public.jpg)">
  <li class="nav-item">
    <a class="nav-link" routerLink="cartao">O Cartão</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="descontos">Descontos</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="amigo-do-cartao">Amigo do Cartão</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="seja-parceiro">Parceiros</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#contato">Contato</a>
  </li>
</app-header>

<main>
  <router-outlet></router-outlet>
</main>

<app-footer
  backgroundImageUrl="url(./assets/images/background-footer-site.jpg)">
</app-footer>
